<% form_for @product do |f| %>
	<fieldset>
	<ul>    
		<li>
			<%= f.label :category_id %>
			<%= f.collection_select :category_id, Category.all, :id, :name %>
		</li>
		<li>
			<%= f.label :name %>
			<%= f.text_field :name, :class => "text" %>
		</li>
		<li>
			<%= f.label :price %>
			<%= f.text_field :price, :class => "text" %>
		</li>
		<li>
			<%= f.label :url %>
			<%= f.text_field :url, :class => "text" %>
		</li>
		<li>
			<%= f.label :description %>
			<%= f.text_area :description, :class => "text" %>
		</li>
		<li class="submit"><%= f.submit "Submit" %></li>
	</ul>
	</fieldset>
<% end %>
