<h2>The Products You Are Watching</h2>

<ul class="products">
<% for product in @products %>
  <li class="product">
    <h3><%= link_to h(product.name), (product.custom_url.blank? ? product : product.custom_url) %></h3>
	
	<div class="thumb">
		<a class="url" href="http://www.jcrew.com/AST/Browse/MensBrowse/Men_Shop_By_Category/outerwear/leather/PRDOVR~10879/10879.jsp" rel="nofollow"><img class="thumb" src="images/example.png" alt="image of the product" /></a>
		<span>Sale!</span>
	</div>
    
  	<% if product.price_snap_shots.blank? %>
        No Price Information
      <% else %>
        <% product.price_snap_shots.each do |snapshot| %>

          <p>
			<span class="price"><%= number_to_currency(snapshot.price) %></span>
            - <%= snapshot.created_at.to_s(:monthdy) %>  
            <%= snapshot.created_at.to_s(:time) %>  
		</p>
		
		<p class="description">get a description of the product, nothing more than 100 characters from the site. This might be more tough that it should, if it is, perhaps we can figure out...</p>
        <% end %>
      <% end %>
		<span class="actions">
	    	<%= link_to "edit", edit_product_path(product) %>
	    	<%= link_to "destroy", product, :confirm => 'Are you sure?', :method => :delete %>
	  	</span>
  </li>
<% end %>
</ul>

<!-- <p><%#= link_to "New Product", new_product_path %></p> -->
