<h2>The Products You Are Watching</h2>

<ul class="products">
<% for product in @products %>
  <li class="product">
    <h3><%= link_to h(product.name), (product.custom_url.blank? ? product : product.custom_url) %></h3>
	
	<a class="url" href="#"><img class="thumb" src="" alt="image of the product" /></a>
    
  	<% if product.price_snap_shots.blank? %>
        No Price Information
      <% else %>
        <% product.price_snap_shots.each do |snapshot| %>

          <p>
			<%= number_to_currency(snapshot.price) %>
            - <%= snapshot.created_at.to_s(:monthdy) %>  
            <%= snapshot.created_at.to_s(:time) %>  
		</p>
        <% end %>
      <% end %>
		<span class="actions">
	    	<%= link_to "edit", edit_product_path(product) %>
	    	<%= link_to "destroy", product, :confirm => 'Are you sure?', :method => :delete %>
	  	</span>
  </li>
<% end %>
</ul>

<!-- <p><%#= link_to "New Product", new_product_path %></p> -->
