<div class="span-24 header">
	<h1><%= link_to "Window Shopper", "/" %></h1>
	
	<ul class="dashboard">
	  <% if current_user %>
	    <li><%= link_to "Edit Profile", edit_user_path(:current) %></li>
	    <li><%= link_to "Logout", logout_path %></li>
	  <% else %>
	    <li><%= link_to "Register", new_user_path %></li>
	    <li><%= link_to "Login", login_path %></li>
	  <% end %>
	</ul>
</div>