<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <title><%= h(yield(:title) || "Untitled") %></title>
    <%= include_stylesheets :common, :base %>
	<%= include_stylesheets :print, :media => "print" %>
	<%= include_javascripts :workspace %>
    <%= yield(:head) %>
  </head>
  <body>
    <div class="container">
	
		<%= render "layouts/header" %>
	
		<div class="span-24 body">
	  		<%= render_flash_messages %>
	
			<%= yield %>
		</div>
      
      	<%= render "layouts/footer" %>
    </div>
  </body>
</html>
