<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
<title>Hashlogik</title>
<meta name="description" content="" />
<meta name="keywords" content="" />
 
<%= include_stylesheets :common, :base %>
<%= include_stylesheets :print, :media => "print" %>
<%= include_javascripts :workspace %>

</head>
 
<body> 

	<%= render "layouts/header" %>
	
	<div class="container">		
		<%= render_flash_messages %>
			
		<div class="span-24 body">
			<%= yield %>
		</div>
	</div>

	<%= render "layouts/footer" %>

</body>
</html>