<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <title><%= h(yield(:title) || "Untitled") %></title>
    <%= stylesheet_link_tag 'reset', 'grid', 'forms', 'typography', 'base' %>
 
    <%= yield(:head) %>
  </head>
  <body>
    <div class="container">
	
		<%= render "layouts/header" %>
	
		<div class="span-16 body">
	  		<%= render_flash_messages %>
	
			<%= yield %>
		</div>

		<%= render "layouts/sidebar" %>
      
      	<%= render "layouts/footer" %>
    </div>
  </body>
</html>
